{% if section.blocks.size > 0 %}
  {{ 'section-collection-tabs.css' | asset_url | stylesheet_tag }}
  <div class="section-collection-tabs__section">
    <div class="page-width section-collection-tabs__container">

      <div class="section-collection-tabs__heading">
        {% if section.settings.title != blank %}
          <h2 class="section-collection-tabs__title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="section-collection-tabs__title">{{ section.settings.description }}</div>
        {% endif %}
      </div>
      <div class="section-collection-tabs__content">
        <div class="section-collection-tabs__tabs tab">
          <div class="section-collection-tabs__tab-head tab__headings">

            <ul class="section-collection-tabs__tab-list list">
              {% for block in section.blocks %}
                {% if block.settings.collection != blank %}
                  <li class="list__item active">
                    <a href="#" class="list__link">{{ block.settings.collection.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="section-collection-tabs__tab-body tab__body">
            <ul class="list">
              {% for block in section.blocks %}
                {% if block.settings.collection != blank %}
                  <li class="list__item active">
                    {{ block.settings.collection.description }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collection Tabs",
    "tag": "section",
    "class": "section section-collection-tabs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "<p>Favourite products</p>"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Section Description",
        "default": "<p>Chose</p>"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Collection tab",
        "type": "collection_tab",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }, {
            "type": "text",
            "id": "alternative_title",
            "label": "Alternative title",
            "info": "Use this title instead of the standart collection title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection tabs"
      }
    ]
  }
{% endschema %}