{% if section.blocks.size > 0 %}
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title">Product title</h2>
        <div class="slider-product-proposal__subtitle">Product Subtitle</div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}
              <div class="slider-product-proposal__slider-item">
                <a href="{{product.url}}" class="slider-item__link"></a>
                <div class="slider-item__image">
                  <img
                    src="{{product.featured_image | image_url: width: 300}}"
                    alt="{{product.featured_image.alt | default: product.title }}"
                    class="slider-item__picture"
                    loading="lazy">
                </div>
                <h4 class="slider-item__title">{{ product.title }}</h4>
                {% if product.content != blank %}
                  <div class="slider-item__content">
                    {{ product.content | strip_html | truncate: 120 }}
                  </div>
                  <div class="slider-item__price">
                    {{ product.price | money_without_trailing_zeros }}
                  </div>
                  <div class="slider-item__buttons">
                    <button class="button button--primary" data-ajax-add="{{product.selected_or_first_available_variant.id}}">
                      Add With AJAX
                    </button>
                    {%-
                        assign product_form_id = 'quick-add-' | append: section_id | append: product.id -%}
                        <product-form>
                          {%- form 'product',
                            product,
                            id: product_form_id,
                            class: 'form',
                            novalidate: 'novalidate',
                            data-type: 'add-to-cart-form'
                          -%}
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.selected_or_first_available_variant.id }}"
                              disabled
                            >
                            <button
                              id="{{ product_form_id }}-submit"
                              type="submit"
                              name="add"
                              class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                              aria-haspopup="dialog"
                              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                              aria-live="polite"
                              data-sold-out-message="true"
                              {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                              {% endif %}
                            >
                              <span>
                                {%- if product.selected_or_first_available_variant.available -%}
                                  {{ 'products.product.add_to_cart' | t }}
                                {%- else -%}
                                  {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                              </span>
                              <span class="sold-out-message hidden">
                                {{ 'products.product.sold_out' | t }}
                              </span>
                              {%- if horizontal_quick_add -%}
                                <span class="icon-wrap">{% render 'icon-plus' %}</span>
                              {%- endif -%}
                              <div class="loading-overlay__spinner hidden">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </button>
                          {%- endform -%}
                        </product-form>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'section-slider-products.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.0.js'  | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js'  | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $(`#shopify-section-{{section.id}} .slider-product-proposal__slider-list`).slick({
      infinite: true,
      slidesToShow: {{section.settings.slider_items}},
      slidesToScroll: 2,
      speed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: {{section.settings.slider_items_tab}},
            slidesToScroll: 2
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    $(`#shopify-section-{{section.id}}`).on('click', '[data-ajax-add]', function(e) {
      const itemId = e.target.getAttribute('data-ajax-add')

// отправляем пост запрос на изменение количества товара
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: { // Если 0 - удаляет. если 1 и больше - меняет на заданную цифру
          quantity: 1,

// itemId - должно быть всегда  type number
          id: itemId
        },

// Если запрос отправился удачно
        success: function(data) {
          console.log(data)

// Отправляем запрос на получение объекта корзины с сервера
          $.ajax({
            type: 'GET', dataType: 'jsonp', url: '/cart.json',

// Если удачно
            success: function(cart) {
              console.log(cart)
            }
          })
        }
      })
    })
  });
</script>
{% schema %}
  {
    "name": "Slider Products",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "slider_items",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Slides to show on Desktop",
        "default": 4
      }, {
        "type": "range",
        "id": "slider_items_tab",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Slides to show on tablet",
        "default": 2
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Proposal product",
        "settings": [
          {
            "type": "product",
            "id": "proposal_product",
            "label": "Our Proposal Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Products"
      }
    ]
  }
{% endschema %}